<p>Songs:</p>

<ul>
<% @artist.songs.each do |s| %>
  <li><a href="/songs/<%= s.slug %>"><%= s.name %></a></li>
<% end %>
</ul>

<p>Genres:</p>

<ul>
<% @artist.genres.each do |g| %>
  <li><a href="/genres/<%= g.slug %>"><%= g.name %></a></li>
<% end %>
</ul>
